
#mypets {
  display:flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-around;
  border-color: aquamarine;
  margin-top: 40px;
  
}

.forms {
  padding-top: 40px;
}


h1 {
  text-decoration: underline;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
}

p {
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif
}

footer {
  font-family: Arial, Helvetica, sans-serif;
  color: rgba(0, 0, 0, 0.308);
  justify-content: flex-end;
}

#btn {
  border-radius: 200px;
}
