body {
  background-image: url('https://media.istockphoto.com/id/1396228296/vector/seamless-pattern-dog-and-cat-inside-box-cartoon-character.jpg?s=612x612&w=0&k=20&c=ihpPxsHg_LmN160btmeQ_PUW5E-_jWw0g8PuaCmfDIA=');
  
}



#mypets {
  display:flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-around;
  border-color: aquamarine;
  margin-top: 40px;
  
  
}

.intro {
  margin-top: 50px;
  font-family: Cambria, Cochin, Georgia, Times, serif;
  font-weight: 1000;
  text-decoration: underline;
  color: rgb(255, 255, 255);
  
}

.forms {
  margin-top: 100px;
  border-radius: 50px;

}


h1 {
  text-decoration: underline;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
}

p {
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif
}

footer {
  font-family: Arial, Helvetica, sans-serif;
  color: rgba(0, 0, 0, 0.308);
  justify-content: flex-end;

}

.btns {
  
  display: flex;
  justify-content: center;
  justify-content: space-evenly;
  padding-top: 20px;
  padding-bottom: 20px;
  color: white;
  background-color: rgba(0, 0, 0, 0.658);
  border: solid rgb(255, 255, 255);
}


#home {
  border-radius: 60px;
  margin-bottom: 20px;
  margin-top: 10px;
  display: flex;
  justify-content: center;
  background-color: rgba(255, 255, 255, 0.404);
  margin-left: 500px;
}

a {
  margin-top: 10px;
  color: black;
}
